/*general*/
.text-transform {
    text-transform: none;
}
.text-red {
    color: #C41100;
}
.backgroundblack {
    background: rgba(0,0,0,0.8);
}

.search-ipt input:focus {
    outline: none;
}
.input-group-addon {
    padding: 0 .75rem;
}
.colorblack-title{
    color: #111;   
}
.list-unstyled li h4 b a {
    font-size: 16px;
}  
.colorblack{
    color: #111;
    font-size: 13px;
    text-transform: none;
}
.backggray{
    padding-top: 40px;
    background-color: #f2f2f2;
    text-transform: none;
    letter-spacing: 0;  
}
.bordertop{
    border-top:1px solid #111;
    padding: 10px;
}
.colblack{
    color: #111;
    font-size: 13px;
}
.wh{
    width: 80px;
    height: 80px;
}

/*nav*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li {
    padding: 0px 27px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    text-transform: none;
}

/*iphone ipad*/
#iphone {
    margin-top: 5px;
    background-color: #edece9;
}
.prd-type {
    color: #111;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: none;
}
.slogan {
    color: #111;
    width: 100%;
    font-size: 21px;
    margin-bottom: 70px;
    text-transform: none;
}
#iphone div div>div.col-md-3, #ipad div div>div.col-md-3 {
    padding-left: 3px; 
    padding-right: 3px; 
}

/*item prd*/
.prd {
    margin-top: 40px;
}   


.margin-lr {
    margin-bottom: 5px;
}
#ipad {
    padding-bottom: 50px;
    background-color: #edece9;
}
#mac {
    position: relative;
    margin: 10px 0;
}
#mac:hover div{
    background-color: #000;
    opacity: 0.7;
    transition: 1s, 3s;
}
#mac img {
    width: 100%;
}
#mac div {
    position: absolute;
    top: 35%;
    color: #fff;
    font-size: 62px;
    padding: 0 100px;
    letter-spacing: 10px;
}
#mac div span {
    font-size: 40px;
    text-decoration: none;
}
.ip-item {
    margin-bottom: 20px;
}
.ip-item div a img {
    width: 100%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-radius: 0px 25px 25px 0px;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0;
    border-radius: 25px 0px 0px 25px; 
    border-color:#ccc;
    padding: 10px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.logo{
    width: 70px;
    height: 70px;
}
.iconcart{
    width: 60px;
    padding-top: 15px;
    height: 60px;
}

.list-unstyled li h4:hover a {
    color: #111;
}
.list-unstyled li:hover a {
    color: #111;    
}
#view-detail {
    position: absolute;
    color: #fff;
    padding: 16px;
    margin: 50px auto 0;
    text-transform: capitalize;
    background-color: rgba(241, 242, 236, 0.95);
    z-index: 999999;
}
#view-detail div div h5 {
    color: #000;
    margin-bottom: 15px;
}
#view-detail div div h4 {
    margin-bottom: 30px;
}
#view-detail div div p {
    color: #252525;
    font-size: 13px
}
.img-dt {
    width: 100%;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 40px;
}
#view-detail .info {
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.9);
    transition: all 0.5s ease;
}
#view-detail .info:hover {
    color: #C41100;
    border: 1px solid #000;
    background-color: rgba(0,0,0,0.9);
}


img {
    width: 100%;
}

/*cart*/
.cart {
    /*display: none;*/
}
.cart h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.edit-bill a {
    width: 50%;
}
.edit-bill button img {
    width: 25px;
}
.list-pr-ap {
    font-size: 18px;
}
.count-ap input {
    width: 80px;
    border: 1px solid #ddd;
}
.edit-bill > button {
    border: none;
    background-color: transparent;
}
.img-myc {
    padding: 5px;
}
.prc-bill:hover {
    color: #C41100;
}
.prc-bill {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

/*hover images home*/
.wrap-item-prd {
    position: relative;
    /*height: 100%;*/
}
.wrap-item-prd img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.2s ease-in;
    z-index: 99;
}
.wrap-item-prd div.mask {
    position: relative;
    opacity: 0;
    /*overflow: visible;*/
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    border-style: solid;
    border-width: 201px;
    /*width: 100px;*/
    /*height: 50px;*/
    /*transform: translateY(-125px);*/
    /*transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;*/
}
/*.wrap-item-prd div.content {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 0;
}*/
.wrap-item-prd div.content a.info {
    color: #000;
    opacity: 1;
    transform: translateY(-125px);
    /*transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;*/
    /*background: url(../images/images/link.png) center no-repeat;*/
    /*display: inline-block;*/
    display: block;
    /*text-decoration: none;*/
    /*padding: 0;*/
    width: 100px;
    height: 30px;
    /*z-index: 99999;*/
}
.wrap-item-prd:hover img {
    opacity:0.8;
    transform:scale(1.15,1.15);
}
.wrap-item-prd:hover .mask {
    opacity: 1;
    transform: translateY(0px);
}
.wrap-item-prd:hover a.info {
    opacity:1;
    transform:translateY(100px);
}

/*foot*/
footer {
    background-color: #000;
    padding-top: 5px;
}