.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li {
    padding: 0px 27px;
}
.backgroundblack {
    background: rgba(0,0,0,0.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    text-transform: none;
}
#iphone {
    margin-top: 5px;
    background-color: #edece9;
}
.prd-type {
    color: #111;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: none;
}
.slogan {
    color: #111;
    width: 100%;
    font-size: 21px;
    margin-bottom: 70px;
    text-transform: none;
}
.prd {
    margin-top: 40px;
}
.wrap-item-prd img {
    margin-bottom: 20px;
}
.ehover3:hover button.info {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.margin-lr {
    margin-bottom: 5px;
}
#ipad {
    padding-bottom: 50px;
    background-color: #edece9;
}
#iphone div div>div.col-md-3, #ipad div div>div.col-md-3 {
    padding-left: 3px; 
    padding-right: 3px; 
}
#mac {
    position: relative;
    margin: 10px 0;
}
#mac:hover div{
    background-color: #000;
    opacity: 0.7;
    transition: 1s, 3s;
}
#mac img {
    width: 100%;
}
#mac div {
    position: absolute;
    top: 35%;
    color: #fff;
    font-size: 62px;
    padding: 0 100px;
    letter-spacing: 10px;
}
#mac div span {
    font-size: 40px;
    text-decoration: none;
}
.ip-item {
    margin-bottom: 20px;
}
.ip-item div a img {
    width: 100%;
}
.colorblack-title{
    color: #111;   
}
.list-unstyled li h4 b a {
    font-size: 16px;
}  
.colorblack{
    color: #111;
    font-size: 13px;
    text-transform: none;
}
.backggray{
    padding-top: 40px;
    background-color: #f2f2f2;
    text-transform: none;
    letter-spacing: 0;  
}
.bordertop{
    border-top:1px solid #111;
    padding: 10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-radius: 0px 25px 25px 0px;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0;
    border-radius: 25px 0px 0px 25px; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.logo{
    width: 70px;
    height: 70px;
}
.iconcart{
    width: 60px;
    padding-top: 15px;
    height: 60px;
}
footer {
    background-color: #000;
    padding-top: 5px;
}
.list-unstyled li h4:hover a {
    color: #111;
}
.list-unstyled li:hover a {
    color: #ef8700;
    text-decoration: none;
    
}
#view-detail {
    /*display: none;*/
    position: absolute;
    color: #fff;
    padding: 50px;
    margin: 50px auto 0;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.9);
    z-index: 99999;
}
#view-detail div div h3 {
    margin-bottom: 40px;
}
.img-dt {
    width: 100%;
}

.colblack{
    color: #111;
    font-size: 13px;
}
.wh{
    width: 80px;
    height: 80px;
}
/*View Detail*/
/*.dropdown {
    position: relative;
    display: inline-block;
}*/
/*.dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    background-color: #f9f9f9;
    width: 600px;
    height: 100vh;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content #view-detail {
    color: black;
    padding: 12px 16px;
    display: block;
}
#view-detail small {
    color: red;
}
.dropdown-content #view-detail:hover {
    background-color: #f1f1f1;
}
.show {
    display:block;
}*/