.text-transform {
    text-transform: none !important;
}
.text-red {
    color: #C41100;
}
/*#view-detail .hr-v-dl {
    padding: 40px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}*/
.search-ipt input {
    padding: 0 18px !important;
}
.search-ipt > input:focus {
    border: 1px solid #ddd;
    border-right: none;
}
.input-group-addon {
    padding: 0 .75rem;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li {
    padding: 0px 27px;
}
.backgroundblack {
    background: rgba(0,0,0,0.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    text-transform: none;
}
/*.menu .navbar .collapse .navbar-nav .nav-item {
    margin-left: none !important;
}*/
#iphone {
    margin-top: 5px;
    background-color: #edece9;
}
.prd-type {
    color: #111;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: none;
}
.slogan {
    color: #111;
    width: 100%;
    font-size: 21px;
    margin-bottom: 70px;
    text-transform: none;
}
.prd {
    margin-top: 40px;
}   
.overlay-n {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.wrap-item-prd img {
    margin-bottom: 20px;
}
.ehover3:hover button.info {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.margin-lr {
    margin-bottom: 5px;
}
#ipad {
    padding-bottom: 50px;
    background-color: #edece9;
}
#iphone div div>div.col-md-3, #ipad div div>div.col-md-3 {
    padding-left: 3px; 
    padding-right: 3px; 
}
.cart h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#mac {
    position: relative;
    margin: 10px 0;
}
#mac:hover div{ /*a or div*/
    background-color: #000;
    opacity: 0.7;
    transition: 1s, 3s;
    width: 100%;
}
#mac img {
    width: 100%;
}
#mac div {
    position: absolute;
    top: 35%;
    color: #fff;
    /*font-size: 62px;*/
    padding: 0 100px;
    letter-spacing: 10px;
}
#mac div span {
    /*font-size: 40px;*/
    /*text-decoration: none !important;*/

}
.ip-item {
    margin-bottom: 20px;
}
.ip-item div a img {
    width: 100%;
}
.colorblack-title{
    color: #111;   
}
.list-unstyled li h4 b a {
    font-size: 16px;
}  
.colorblack{
    color: #111;
    font-size: 13px;
    text-transform: none;
}
.backggray{
    padding-top: 40px;
    background-color: #f2f2f2;
    text-transform: none;
    letter-spacing: 0;  
}
.bordertop{
    border-top:1px solid #111;
    padding: 10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-radius: 0px 25px 25px 0px;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0;
    border-radius: 25px 0px 0px 25px; 
    border-color:#ccc;
    padding: 10px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.logo{
    width: 70px;
    height: 70px;
}
.iconcart{
    width: 60px;
    padding-top: 15px;
    height: 60px;
}
footer {
    background-color: #000;
    padding-top: 5px;
}
.list-unstyled li h4:hover a {
    color: #111;
}
.list-unstyled li:hover a {
    color: #111;    
}
#view-detail {
    position: absolute;
    color: #fff;
    padding: 16px;
    margin: 50px auto 0;
    text-transform: capitalize;
    background-color: rgba(241, 242, 236, 0.95);
    z-index: 999999;
}
#view-detail div div h5 {
    color: #000;
    margin-bottom: 15px;
}
#view-detail div div h4 {
    margin-bottom: 30px;
}
#view-detail div div p {
    color: #252525;
    font-size: 13px
}
.img-dt {
    width: 100%;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 40px;
}
#view-detail .info {
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.9);
    transition: all 0.5s ease;
}
#view-detail .info:hover {
    color: #C41100;
    border: 1px solid #000;
    background-color: rgba(0,0,0,0.9);
    /*background-color: rgba(255,255,255,0.7);*/
}
.colblack{
    color: #111;
    font-size: 13px;
}
.wh{
    width: 80px;
    height: 80px;
}
.nav-link {
    color:white;
}
img {
    width: 100%;
}

/*cart*/
.cart h2 {
    margin-top: 50px;
    margin-bottom: 50px;

    /*display: none;*/
}
.bg-cart {
    /*background-color: #FBF0E1 !important;*/
}
.table-bordered {
    /*border-color: #000 !important;*/
}

/*>>>>>>> dev*/
.edit-bill a {
    width: 50%;
}
.edit-bill button img {
    width: 25px;
}
.list-pr-ap {
    font-size: 15px;
}
.count-ap input {
    width: 80px;
    border: 1px solid #ddd;
}
.edit-bill > button {
    border: none;
    background-color: transparent;
}
.img-myc {
    padding: 5px;
}
.prc-bill:hover {
    color: #C41100;
}
.prc-bill {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}
/*<<<<<<< HEAD*/
.cart table thead tr th {
    font-size: 28px !important;
}

/*foot*/
footer {
    background-color: #000;
    padding-top: 5px;
