.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li {
    padding: 0px 20px;
}
.backgroundblack {
    background: rgba(0,0,0,0.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
#iphone {
    margin-top: 5px;
    background-color: #edece9;
}
.prd-type {
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0;
}
.slogan {
    width: 100%;
    font-size: 21px;
}
/*.prd {
    margin-top: 40px;
}*/
/*.wrap-item-prd a img {
    width: 100%;
    transition: all 1s ease;
    opacity: 0.7;
}*/
/*.wrap-item-prd a:hover div.name-prd{
    display: block;
    z-index: 9999;
}*/
/*.margin-lr {
    margin-bottom: 5px;
}*/
/*.wrap-item-prd:hover a img {
    transform: scale(1.2,1.2);
    opacity: 1;
    box-shadow:0px 0px 5px #000;
}*/
/*.wrap-item-prd:hover div.name-prd {
    //z-index: 9999;
}*/
/*.name-prd {
    display: none;
    height: 45px;
    color: #3e3e3e;
    font-weight: 600;
    line-height: 45px;
    margin-top: 5px;
    background-color: #fff;
}*/
#ipad {
    padding-bottom: 50px;
    background-color: #edece9;
}
#iphone div div>div.col-md-3, #ipad div div>div.col-md-3 {
    padding-left: 3px; 
    padding-right: 3px; 
}
#mac {
    position: relative;
    margin: 10px 0;
}
#mac:hover div{
    background-color: #000;
    opacity: 0.7;
    transition: 1s, 3s;
}
#mac img {
    width: 100%;
}
#mac div {
    position: absolute;
    top: 35%;
    color: #fff;
    font-size: 62px;
    padding: 0 100px;
    letter-spacing: 10px;
}
#mac div span {
    font-size: 40px;
}

.colorblack-title{
    color: #111;   
}
.colorblack{
    color: #111;
    font-size: 13px;
}
.backggray{
    padding-top: 40px;
    background-color: #f2f2f2;
}
.bordertop{
    border-top:1px solid #111;
    padding: 10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-radius: 0px 25px 25px 0px;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0;
    border-radius: 25px 0px 0px 25px; 
    border-color:#ccc;
    padding: 10px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}*/
.logo{
    width: 70px;
    height: 70px;
}
.iconcart{
width: 60px;
padding-top: 15px;
height: 60px;
}
/*ipad page*/

.breadcrumb a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-transform: none; 
    letter-spacing: 0;
}

#wrapper-ipad {
    background-color: #ececef;
}
.ipad-products {
    padding: 30px 0 10px 10px;
    
}
.ipad-products div a img {
    width: 100%;
}
.ipad-item {
/*    background-color: #ece8e4;*/
    text-align: center;
    padding: 0 50px;
}
.ipad-item p {
    color: black;
}
.ipad-item h5 {
    color: black;
    padding: 15px;
    font-size: 19px;
}
.ipad-item a {
    text-transform: none;
    letter-spacing: 0;
}
.ipad-item a:hover {
    text-decoration: none;

}
/*.ipad-item a img {
    width: 100%;
    opacity: 1;
    transition: all 1s ease;
    z-index: 99;
}

.ipad-item a:hover img {
    transform: scale(1.2,1.2);
    opacity: 0.7;
}
.ipad-item:hover a img {
    z-index: 9999;
}*/
.overlay-image {
  position: relative;
  width: 100%;
}

.image-ipad {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.overlay-image:hover .overlay {
  opacity: 1;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*iphone page*/

#wrapper-iphone {
    background-color: #ececef;
}
.iphone-products {
    padding: 30px 0 10px 10px;
    
}
.iphone-products div a img {
    width: 100%;
}
.iphone-item {
    text-align: center;
}
.iphone-item {
/*    background-color: #ece8e4;*/
    text-align: center;
    padding: 10px;
}
.iphone-item p {
    color: black;
}
.iphone-item h5 {
    color: black;
    font-size: 19px;
    padding: 5px;
}
.iphone-item a {
    text-transform: none;
    letter-spacing: 0;
}
.iphone-item a:hover {
    text-decoration: none;

}
.iphone-item a img {
    width: 100%;
    opacity: 1;
    transition: all 1s ease;
    z-index: 99;
}

/* .iphone-item a:hover img {
    transform: scale(1.2,1.2);
    opacity: 0.7;
} */
.iphone-item:hover a img {
    z-index: 9999;
}


/*detail-ipad-page*/
#wrapper-detail {
    background-color: #ececef;
    text-transform: none;
    letter-spacing: 0;
}
.detail-image {
    text-align: center;
    padding:50px;

}
.panel-heading a {
    font-size: 20px;
    color: #111;
   
}
.panel-heading h4:hover a {
    color:blue;
    text-decoration: none;
}
.panel-body {
    font-size: 18px;
}
/*.button-color {
    padding-right: : 50px;
    padding-left: 50px;
}*/
.image-color {
    height: 38.03px;
    width: 38.03px;
}

.detail4 {
    font-size: 20px;
}

#add-btn {
  margin-left: 25px;
}
#buynow-btn {
    margin-left: 16px;
}
.text-specs {
    padding: 0 80px;
}
.semore-product {
    padding: 0 100px;
}
.img-fluid {
    padding: 20px;
}

/*order page*/
.order-wrapper {
    background-color: #ececef;
    text-transform: none;
    letter-spacing: 0;
}
.order-info {
    background-color: white;
}
.customer-info {
    padding-top: 20px;
}
.contact {
    padding-top: 20px;
}
.form-address {
    padding: 5px 0;
}
.submit-order {
    padding-bottom: 30px;

}
.footer {
    background-color: #000;
    padding-top: 5px;
}