#logo-img-admin {
	/*background-color: #131315;*/
	/*background-image: url("images/background.jpg") !important;*/
}
.text-transform {
	text-transform: none;
}
.lette-spacing {
	letter-spacing: 0;
}
.bg-l-admin {
}
#img-admin {
	width: 35%;
}
.name-label {
	color: #000;
	font-size: 15px;
	font-weight: 600;
}
.ad-func {
	color: #fff;
}
.name-func {
	font-size: 15px;
	font-weight: 600;
}
.ad-func ul {
	padding-left: 5px;
	margin-bottom: 40px;
}
.func-item {
	font-size: 15px;
	line-height: 40px;	
	list-style-type: none;
}
.func-item a {
	color: #fff;
	text-decoration: none;
}
.func-item img {
	width: 18px;
	margin-right: 10px;
}
.func-item a:hover {
	color: #000;
	text-decoration: none;
}
.ic-func {
	margin-right: 7px;
}
#form-func .form-group label {
	color: #000;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: capitalize;
}
.right h5 {
	color: #B22E12;
	margin: 40px 0;
	letter-spacing: 0;
	font-weight: 600;
}
#form-func button {
	color: #fff;
	border: none;
	cursor: pointer;
	font-weight: 600;
	padding: 5px 40px;
	background-color: #131315;
}
#form-func button:hover {
	font-size: 18px;
}

/*admin*/
#ad-admin-inner {
	color: red;
	min-height: 100vh;
	background-size: cover;
	background-image: url("../../images/background-apple.jpg");
}
#logo-admin {
	width: 70px;
	padding: 20px 0;
	display: inline-block;
}
.apple {
	border-bottom: 1px solid #fff;
}
#btom-ad {
	padding: 50px;
}
#btom-ad img {
	width: 40px;
	margin-bottom: 50px;
	z-index: 99;
}
#btom-ad img:hover {
	opacity: 0.7;	
}
.hidden-ad {
	position: relative;	
	top: 160px;
	left: 40px;
	display: none;
}
.btom-ad-item:hover p {
	position: absolute;	
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	display: block;
	padding: 12px 20px;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid #fff;
}
.t-r-ad {
	border-bottom: 1px solid #000;
}
.ad-ac {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 30px 0;
	z-index: 99;
}
.li-la {
	display: none;
	/*visibility: none;*/
	width: 350px;
	height: 200px;
	background-color: rgba(244,244,244,0.9);
	border: 1px solid #999;
}
.t-r-ad:hover .li-la {
	position: absolute;
    display: block;
    top: 90px;
    right: 0;
    z-index: 9999;
}
#wp-ac {
	display: inline-block;
}
.avt p {
	background-color: (0,0,0,0.7);
}
.name-ad {
	margin-top: 20px;

}
.wp-io-ad {
	border-top: 1px solid #000;
}
#io-ad {
	padding: 10px 0;
}
.add-new {
	margin: 30px 0;
}
.table {
	border: 1px solid #999;
}
.table th, td {
	text-align: center;
}

.product-ad {
	/*display: none;*/
}
.product-detail-ad {
	/*display: none;*/
}