.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li {
    padding: 0px 27px;
}
.backgroundblack{
    background: rgba(0,0,0,0.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

#iphone {
    margin-top: 10px;
    background-color: #edece9;
}
.prd-type {
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0;
}
.slogan {
    width: 100%;
    font-size: 22px;
}
.margin-lr {
    margin: 0 5px 5px;
}
#ipad {
    background-color: #edece9;
}
#iphone div div>div.col-md-3, #ipad div div>div.col-md-3 {
    padding-left: 4px; 
    padding-right: 4px; 
}
#iphone .prd img {
    width: 100%;
}

.colorblack-title{
    color: #111;   
}
.colorblack{
    color: #111;
    font-size: 13px;
}
.backggray{
    padding-top: 40px;
    background-color: #f2f2f2;
}
.bordertop{
    border-top:1px solid #111;
    padding: 10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-radius: 0px 25px 25px 0px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0;
	border-radius: 25px 0px 0px 25px; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}*/
.logo{
	width: 70px;
	height: 70px;
}
.iconcart{
width: 60px;
padding-top: 15px;
height: 60px;
}